{% if page.author and site.data.authors[page.author] %}
{% assign author = site.data.authors[page.author] %}{% else %}{% assign author = site.author %}
{% endif %}

<div class="profile_box">
    <div class="profile_inner">
        <div class="author__avatar">
            <img src="{{ author.avatar }}" class="author__avatar" alt="{{ author.name }}">
        </div>

        <div class="author__content">
            <h3 class="author__name">{{ author.name }}</h3>
            <p class="author__university">QMUL & XJTU</p>
            <p class="author__bio">Ph.D. Candidate (Final Year)</p>
            <div class="author__icons_sm">
                <ul class="social-icons-sm">
                    <li><a href="mailto:{{ author.email }}"><i class="fas fa-envelope" style="color: #D14836;"></i></a>
                    </li>
                    <li><a href="https://scholar.google.com/citations?user=AxO-zOEAAAAJ&hl=en"><img
                            src="https://scholar.google.com/favicon.ico"/></a></li>
                    <li><a href="{{ author.researchgate }}"><i class="fab fa-researchgate"
                                                               style="color:#00CCBB;"></i></a>
                    </li>
                    <li><a href="https://www.linkedin.com/in/guanyu-hu-09839a361/"><img
                            src="https://www.linkedin.com/favicon.ico"/></a></li>
                    <li><a href="https://dblp.org/pid/172/3540-3.html"><img src="https://dblp.org/img/favicon.ico"/></a>
                    </li>
                    <li><a href="https://github.com/imhgy"><img src="https://github.com/favicon.ico"/></a></li>
                    <li><a href="https://orcid.org/0009-0006-1911-6283"><img src="https://orcid.org/favicon.ico"/></a>
                    </li>
                </ul>
            </div>
        </div>

        <div class="author__urls-wrapper">
            <!-- <button class="btn btn--inverse">More Info & Contact</button> -->
            <ul class="author__urls social-icons">
                <li>
                    <a href="mailto:{{ author.email }}" title="Email" style="color: #D14836">
                        <i class="fas fa-envelope"></i>
                    </a>
                </li>
                <li>
                    <a href="https://scholar.google.com/citations?user=AxO-zOEAAAAJ&hl=en" title="Google Scholar"
                       style="width:1em">
                        <img src="https://scholar.google.com/favicon.ico"/>
                    </a>
                </li>
                <li>
                    <a href="{{ author.researchgate }}">
                        <i class="fab fa-fw fa-researchgate" aria-hidden="true" title="ResearchGate"
                           style="width:1em;color:#00CCBB"></i>
                    </a>
                </li>
                <li>
                    <a href="https://www.linkedin.com/in/guanyu-hu-09839a361/" title="LinkedIn" style="width:1em">
                        <img src="https://www.linkedin.com/favicon.ico"/>
                    </a>
                </li>
                <li>
                    <a href="https://dblp.org/pid/172/3540-3.html" title="DBLP" style="width:1em">
                        <img src="https://dblp.org/img/favicon.ico"/>
                    </a>
                </li>
                <li>
                    <a href="https://github.com/imhgy" title="GitHub" style="width:1em">
                        <img src="https://github.com/favicon.ico"/>
                    </a>
                </li>
                <li>
                    <a href="https://orcid.org/0009-0006-1911-6283" title="ORCID" style="width:1em">
                        <img src="https://orcid.org/favicon.ico"/>
                    </a>
                </li>
            </ul>

            <div class="author__urls_sm">
                <ul class="author__urls social-icons">
                    <li>
                        <a href="mailto:{{ author.email }}" title="Email" style="color: #D14836">
                            <i class="fas fa-envelope"></i>
                        </a>
                    </li>
                    <li>
                        <a href="https://scholar.google.com/citations?user=AxO-zOEAAAAJ&hl=en" title="Google Scholar"
                           style="width:1em">
                            <img src="https://scholar.google.com/favicon.ico"/>
                        </a>
                    </li>
                    <li>
                        <a href="{{ author.researchgate }}">
                            <i class="fab fa-fw fa-researchgate" aria-hidden="true" title="ResearchGate"
                               style="width:1em;color:#00CCBB"></i>
                        </a>
                    </li>
                    <li>
                        <a href="https://www.linkedin.com/in/guanyu-hu-09839a361/" title="LinkedIn" style="width:1em">
                            <img src="https://www.linkedin.com/favicon.ico"/>
                        </a>
                    </li>
                    <li>
                        <a href="https://dblp.org/pid/172/3540-3.html" title="DBLP" style="width:1em">
                            <img src="https://dblp.org/img/favicon.ico"/>
                        </a>
                    </li>
                    <li>
                        <a href="https://github.com/imhgy" title="GitHub" style="width:1em">
                            <img src="https://github.com/favicon.ico"/>
                        </a>
                    </li>
                    <li>
                        <a href="https://orcid.org/0009-0006-1911-6283" title="ORCID" style="width:1em">
                            <img src="https://orcid.org/favicon.ico"/>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
